<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country_field %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state_field %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
   
</p>

<p>
  <strong>Service provider:</strong>
  <%= @profile.service_provider %>
</p>

<p>
  <strong>Provider name:</strong>
  <%= @profile.provider_name %>
</p>


  
<p>
  <strong>Picture</strong>
  <%= image_tag @profile.pic_url(:large) %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
