<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :city %>

    <%= f.label :state %>
    <%= f.text_field :state_field %>
    

    <%= f.label :country %>
    <%= f.text_field :country_field %>
 
    <%= f.input :pic, as: :file %>

    
    
    <%= f.input :service_provider, label: 'Are you a provider of services?' %>
    <%= f.input :provider_name %>
   
    
  


    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
