<script>
  
  $(document).on('ready page:load', function() {
  return CountryStateSelect({
    country_id: "country_field_id",
    state_id: "state_field_id"
  });
});

  
</script>





<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :country_field, collection: CountryStateSelect.countries_collection %>
    <%#= f.input :country %>
    
    <%#= f.input :state %>
    
    <%= options = { form: f, field_names: { :country => :country_field, :state => :state_field } }
    f.input :state_field, CountryStateSelect.state_options(options) %>
    
 
    <%#= f.input :city %>
    <%= f.input :service_provider, label: 'Are you a provider of services?' %>
    <%= f.input :provider_name %>
    <%= f.input :provider_logo_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
