
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', root_path %> </li>
        
  <% if user_signed_in? %>

    <li><%= link_to 'Edit Signup Details', edit_user_registration_path %> </li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    <%= render partial:'partial/cart' %>
    <li>Logged in as <strong><%= current_user.email %></strong></li>
    
  <% else %>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
   <br>
   
   <% end %>
     </ul>
    </nav>
  </div>
</header>
   