<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    <%= f.association :category %>
    <%= f.input :description %>
    <%#= f.text_field :country_field %>
    <%= f.input :state_field %>
    <%= f.input :city %>
    <%= f.input :price %>
    <%#= f.association :service_dates %>
    <%= f.input :service_pic_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
